<div class="containerForm">
	<section class="contentForm">
	<div class="form">		
			<h1>D-Kanban</h1>
			<div>
				<input type="text" placeholder="Username" required id="username" ng-model="ctrl.login" />
			</div>
			<div>
				<input type="password" placeholder="Password" required id="password" ng-model="ctrl.password"/>
			</div>
			<div>
				 <md-button md-no-ink class="md-primary" ng-click="ctrl.loginAction();">Se connecter</md-button>				
			</div>
			<div style="color:Red" ng-hide="{{ctrl.auth_ko}}">
           		{{ctrl.message}}
          	</div>
		</div>
		
	</section><!-- content -->
</div>	