<md-dialog flex="80" id="ticketDialog"> 
<md-toolbar>
<div class="md-toolbar-tools">
	<h2>{{ticket.title}}</h2>
	<span flex></span>
	<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
		md-svg-src="/asset/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	</md-button>
</div>
</md-toolbar>
<md-dialog-content layout-padding> 
 	
<md-tabs md-border-bottom md-dynamic-height md-stretch-tabs="always">
     <md-tab label="Général" >
       <md-content class="md-padding" layout-padding>
		<div layout layout="column">
			<md-input-container flex> 
				<label>Référence</label>
				<input ng-model="ticket.card.ref"> 
			</md-input-container>
			<md-input-container flex> 
				<label>Caisse</label> 
				<input ng-model="ticket.card.caisse"> 
			</md-input-container>
			<md-input-container flex>
				<label>Application</label>
				<md-select ng-model="ticket.card.appli"> 
					<md-option ng-repeat="app in listes.applications" value="{{app}}">{{app}} </md-option> 
				</md-select> 
			</md-input-container>
		</div>

		<div layout layout="column">
			<md-input-container flex> 
				<label>Propriétaire</label>
				<md-select ng-model="ticket.card.owner"> 
					<md-option ng-repeat="item in listes.users" value="{{item.login}}">{{item.login}} </md-option> 
				</md-select> 
			</md-input-container>
			<md-input-container flex> 
				<label>Etat</label> 						
				<md-select ng-model="ticket.card.state"> 
					<md-option ng-repeat="state in listes.states" value="{{state.code}}">{{state.libelle}} </md-option> 
				</md-select>
			</md-input-container>							
			<md-input-container flex> 
				<label>Zone</label> 
				<md-select ng-model="ticket.zone"> 
					<md-option ng-repeat="header in headers" value="{{header.libelle}}">{{header.libelle}} </md-option> 
				</md-select> 
			</md-input-container>
		</div>
		<div layout layout="row">
			<md-input-container flex> 
				<label>Résumé</label> 
				<input ng-model="ticket.card.summary"> 
			</md-input-container>			
		</div>
		<div layout layout="row">
			<md-input-container flex> 
				<label>Description</label>
				<textarea ng-model="ticket.card.description" /> 
			</md-input-container>
		</div>		
	</md-content>
	</md-tab>
	<md-tab label="Historique">
		<md-content>
			 <md-list>
		      <md-subheader class="md-no-sticky">
		      	<md-button ng-click="addNew($event)" style="margin-right:20px;">Add</md-button> 
		      	{{ticket.card.history.length}} entrée(s)
		      </md-subheader>
		      <md-list-item class="md-2-line" ng-repeat="item in ticket.card.history | orderBy:'date':true">	
		      <img ng-src="/asset/svg/trash.svg" class="md-avatar" ng-click="deleteHistory(item)"  />   		        
		        <div class="md-list-item-text" layout="column">
		          <h3>{{ item.date }} - {{ item.summary }}</h3>			          
		          <p>{{ item.description }}</p>
		        </div>
		         <md-divider ></md-divider>
		      </md-list-item>
		     </md-list>			
		</md-content>
	</md-tab>
</md-tabs>
</md-dialog-content> 
<div class="md-actions"> 
	<span flex></span>
	<md-button ng-click="delete(ticket)" style="margin-right:20px;">Supprimer</md-button> 
	<md-button ng-click="cancel()"> Annuler </md-button> 
	<md-button ng-click="answer(ticket)" style="margin-right:20px;">Sauver</md-button> 
</div>

</md-dialog>