 <md-fab-speed-dial ng-hide="demo.hidden" md-direction="up"  class="md-scale fixed-action-btn" >
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn">
      <md-icon md-svg-src="/asset/svg/menu.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="Ajout ticket" class="md-fab md-hue-8 md-mini" ng-click="ctrl.openNewTicket($event)">
       <md-icon md-svg-src="/asset/svg/add_cross.svg" ></md-icon>
    </md-button>
    <md-button aria-label="Chercher un ticket" class="md-fab md-hue-8 md-mini" ng-click="ctrl.searchTicket($event)">
       <md-icon md-svg-src="/asset/svg/eye_preview.svg" ></md-icon>
    </md-button>
    <md-button aria-label="Filtre sur moi" class="md-fab md-hue-8 md-mini" ng-click="ctrl.filtreOnUs()">
       <md-icon md-svg-src="/asset/svg/ic_person_24px.svg" ></md-icon>
    </md-button>
    <md-button aria-label="Tout le monde" class="md-fab md-hue-8 md-mini" ng-click="ctrl.filtreOnAll()">
       <md-icon md-svg-src="/asset/svg/ic_people_24px.svg" ></md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>


<div layout="row" layout-wrap class="grid-row-header" ng-init="ctrl.init()">
	<div class="mdl-cell--1-col "></div>
	<div   ng-repeat="item in ctrl.headers | orderBy: 'order'" ng-hide="$first" class="mdl-cell--{{item.width}}-col " flex>
			<center><h4>{{item.libelle}}</h4></center>
		</div>
</div>


<div layout="row" class="grid-row z-depth-2" layout-wrap  ng-repeat="zone in ctrl.kanban.values | orderBy:'firstColumn.libelle'">
		
				
	<div class="mdl-cell--1-col overdelete"
		id="{{zone.firstColumn.id}}" ng-drop="true" ng-drop-success="crtl.handleDropDelete($data,$event,other.id)" >
		<p>{{zone.firstColumn.libelle}}</p>
	</div>
		
		
	<div ng-repeat="other in zone.columns"   flex
	 ng-drop-success="ctrl.handleDrop($data,$event,other.id)"
	>

		<div  layout="row" layout-wrap id="{{other.id}}" ng-drop="true" ng-drop-success="ctrl.handleDrop($data,$event,other.id)" >

				<div class="card-margin-border drag-auto-item"  id="{{ticket._id}}" style="width:250px;"
					 ng-drag="true" ng-drag-data="{data:{card:ticket, zone:other.id}}" data-allow-transform="true"
					 ng-repeat="ticket in other.tickets" layout="column">
					<div>
						<div layout="row">
							<div flex>
								<span class="md-caption truncate cursor-edit" ng-click="ctrl.updateTicket($event,ticket,other.id)">{{ticket.reference}}
									<md-tooltip md-direction="top">
										{{ticket.reference}}
									</md-tooltip>
								</span>
							</div>
							<div class="card-title-middle" flex>
								<span class="md-caption">{{ticket.caisse}}</span>
							</div>
							<div flex>
								<span class="md-caption">{{ticket.application.libelle}}</span>
							</div>
						</div>
						<div class="divider"></div>
						<div layout="row">
							<div flex>
								<span class="md-caption">{{ticket.summary}}</span>
							</div>
						</div>
						<div class="divider"></div>
						<div layout="row">
							<div flex>
								<span class="md-caption">{{ticket.zone.libelle}}</span>
							</div>
							<div flex="10">
								<span class="ticket-status" style="background-color:{{ticket.priority.color}}" layout-align="start">
									<md-tooltip md-direction="top">Priorité {{ticket.priority.libelle}}</md-tooltip>
								</span>
							</div>
							<div flex="10">
								<span class="ticket-status" style="background-color:{{ticket.statut.color}}" layout-align="end">
									<md-tooltip md-direction="top">Statut {{ticket.statut.libelle}}</md-tooltip>
								</span>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>	

 
