<div layout="row" layout-fill >

	<md-list ng-cloak flex="20" style="border-right: 1px solid;">
	
	<md-subheader class="md-no-sticky">Paramètres généraux</md-subheader>
  			<md-list-item ng-click="ctrl.goTo('admin.utilisateur')">
    			<img ng-src="/asset/svg/ic_person_24px.svg" class="md-avatar" />
    			<p>Liste des utilisateurs</p>    			
  			</md-list-item>	  	
	
		 <md-subheader class="md-no-sticky">Paramètres liés au Kanban</md-subheader>
  					
  			<md-list-item ng-click="ctrl.goTo('admin.zones')">
    			<img ng-src="/asset/svg/ic_view_carousel_48px.svg" class="md-avatar" />
    			<p>Liste des zones du kanban</p>    			
  			</md-list-item>
  			
		<md-subheader class="md-no-sticky">Paramètres liés au ticket</md-subheader>
		
  			<md-list-item ng-click="ctrl.goTo('admin.application')">
    			<img ng-src="/asset/svg/ic_translate_48px.svg" class="md-avatar" />
    			<p>Liste des applications d'un tickets</p>    			
  			</md-list-item>	  	
	  		  	
  			<md-list-item ng-click="ctrl.goTo('admin.statut')">
    			<img ng-src="/asset/svg/ic_comment_24px.svg" class="md-avatar" />
    			<p>Liste des statuts d'un ticket</p>    			
  			</md-list-item>	  	
	  		  		
  			<md-list-item ng-click="ctrl.goTo('admin.priority')">
    			<img ng-src="/asset/svg/ic_feedback_48px.svg" class="md-avatar" />
    			<p>Liste des priorités d'un ticket</p>    			
  			</md-list-item>
	  		
	</md-list>
	<div flex >
		<div layout="row">
			<h3>Title de l'application</h3>  
		</div>
		<div layout layout="column">			
			<md-input-container flex> 				
				<input ng-model="ctrl.applicationTitle"  ng-disabled="ctrl.isNoEdit"> 				
			</md-input-container>
			<md-input-container flex="10"> 				
				<md-button ng-click="ctrl.updateTitle()" style="margin-right:20px;">{{ctrl.buttonValue}}</md-button> 			
			</md-input-container>
		</div>
		<md-divider></md-divider>		
		<div layout="row" layout-padding ui-view></div>		
		
		
	</div>
	
</div>