<md-card class="md-padding" layout-padding >
<md-card-content>
		<div layout layout="column">
			<md-input-container flex> 
				<label>code</label> 
				<input ng-model="internalData.code"> 
			</md-input-container>			
			<md-input-container flex> 
				<label>libelle</label>
				<input ng-model="internalData.libelle"> 
			</md-input-container>			
			<md-input-container flex> 
				<label>couleur</label>
				<input type="color" ng-model="internalData.color"> 
			</md-input-container>	
		</div>
		<div layout layout="column">
			<md-input-container flex> 
				<label>description</label> 
				<textarea ng-model="internalData.description"></textarea>
			</md-input-container>
		</div>
		</md-card-content>
		 <md-card-actions layout="row" layout-align="end center">		 
          <md-button ng-click="closeAdd()">fermer</md-button>		 
          <md-button ng-click="add()">sauver</md-button>          
        </md-card-actions>
</md-card>		