.row > [class*="col-"] {
	margin-bottom:0px !important;
}

.card .card-content {
	padding: 5px !important;
}

.c-border {
	border:1px solid;
	width: 20px;
}


.drag-auto-item.ng-enter, .drag-auto-item.ng-move {
  -webkit-transition:1.5s linear all;
  -moz-transition:1.5s linear all;
  -o-transition:1.5s linear all;
  transition:1.5s linear all;
  opacity:0;  
}


/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.drag-auto-item.ng-enter.ng-enter-active,
.drag-auto-item.ng-move.ng-move-active {
  opacity:1;  
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .drag-auto-item class
*/
.drag-auto-item.ng-leave {
  -webkit-animation:1.5s my_animation;
  -moz-animation:1.5s my_animation;
  -o-animation:1.5s my_animation;
  animation:1.5s my_animation;  
}


@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}



/*icket card-animate move ng-scope ng-animate ng-move ng-move-active*/

.zone_with{     
    
  /*height:10vh;*/
  background-color: blue;

  border: 1px solid yellow;

}

.ticket {
     -moz-box-shadow: 0px 1px 3px 1px #656565;
    -webkit-box-shadow: 0px 1px 3px 1px #656565;
    -o-box-shadow: 0px 1px 3px 0px #656565;
    box-shadow: 0px 1px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 2px;
     margin: 2px;
     height: 25px;
     background-color: Whitesmoke;

}
/*
.col-height > div:Hover {
    -moz-box-shadow: 0px 1px 3px 1x #fe0000;
    -webkit-box-shadow: 0px 1px 3px 1px #fe0000;
    -o-box-shadow: 0px 1px 3px 0px #fe0000;
    box-shadow: 0px 1px 3px 0px #fe0000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#fe0000, Direction=180, Strength=3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 2px;
    cursor: move;
}*/

.over {
	border: dotted 1px Red !important;
}



/* columns of same height styles */



.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
 /* background-color: grey;
  vertical-align: top;*/
  border:1px solid;
}

.col-height-header {
  display: table-cell;
  float: none;
  height: 10px;
  background-color: whitesmoke;
  vertical-align: top;
  border:1px solid;
}

.col-top {
  vertical-align: top;
}

