
.drag-auto-item.ng-enter, .drag-auto-item.ng-move {
  -webkit-transition:1.5s linear all;
  -moz-transition:1.5s linear all;
  -o-transition:1.5s linear all;
  transition:1.5s linear all;
  opacity:0;  
}


/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.drag-auto-item.ng-enter.ng-enter-active,
.drag-auto-item.ng-move.ng-move-active {
  opacity:1;  
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .drag-auto-item class
*/
.drag-auto-item.ng-leave {
  -webkit-animation:1.5s my_animation;
  -moz-animation:1.5s my_animation;
  -o-animation:1.5s my_animation;
  animation:1.5s my_animation;  
}


@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.ticket {
     -moz-box-shadow: 0px 1px 3px 1px #656565;
    -webkit-box-shadow: 0px 1px 3px 1px #656565;
    -o-box-shadow: 0px 1px 3px 0px #656565;
    box-shadow: 0px 1px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=3);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 2px;
     margin: 2px;     
     background-color: White;
	
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0; }

.row-small-margin {
	margin:5px !important;
}

.zone_with{         
  background-color: blue;
  border: 1px solid yellow;

}


.col-height > div:Hover {
	/*
    -moz-box-shadow: 0px 1px 3px 1x #fe0000;
    -webkit-box-shadow: 0px 1px 3px 1px #fe0000;
    -o-box-shadow: 0px 1px 3px 0px #fe0000;
    box-shadow: 0px 1px 3px 0px #fe0000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#fe0000, Direction=180, Strength=3);
   */
    cursor: move;
}

.cursor-edit:Hover {
	cursor: pointer!important;
}

.over {
	border: dotted 1px Red !important;
}

.over .overdelete {
	background-color: Red!important;
}



/* columns of same height styles */



.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin-bottom: 10px !important;
  background-color: #90caf9;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
 /* background-color: grey;
  vertical-align: top;*/
  border:1px solid;
  padding: 0px!important;
}

.col-height-header {
  display: table-cell;
  float: none;
  height: 10px;
  background-color: whitesmoke;
  vertical-align: top;
  border:1px solid;
}

.col-top {
  vertical-align: top;
}

