.row > [class*="col-"] 		{ margin-bottom:0px !important; }
.card .card-content 		{ padding: 5px !important; }
.c-border 					{ border:1px solid;	width: 20px; }
.small-margin 				{ margin-bottom: 5px; }
.toolbar-button 			{ width: 20px !important; height: 20px !important; }
.btn-floating.btn-small 	{ width: 20.5px; height: 20.5px; }
.btn-floating.btn-small i 	{ line-height: 20.5px; }

select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s; }
  select:disabled {
    color: rgba(0, 0, 0, 0.26);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.26); }
  select:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a; }
  select:focus:not([readonly]) + label {
    color: #26a69a; }
  select.valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50; }
  select.valid + label:after{
    content: attr(data-success);
    color: #4CAF50;
    opacity: 1; }
  select.invalid{
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336; }
  select.invalid + label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1; }
  select + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 65px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out; }