<div layout="row" layout-wrap class="grid-row-header">
	<div   ng-repeat="item in ctrl.headers" class="mdl-cell--{{item.width}}-col " flex>
			<center><h4>{{item.libelle}}</h4></center>
		</div>
</div>


<div layout="row" class="grid-row z-depth-2" layout-wrap  ng-repeat="zone in ctrl.kanban.values | orderBy:'first.libelle'">
		
				
	<div class="mdl-cell--{{zone.first.width}}-col overdelete" flex
		id="{{zone.first.id}}" droppable drop="handleDropDelete" dropdelete="true">
		<p>{{zone.first.libelle}}</p>
	</div>
		
		
	<div flex ng-repeat="other in zone.other" class="mdl-cell--{{other.width}}-col" id="{{other.id}}"  droppable drop="handleDrop">


					  
		<div class="card-margin-border drag-auto-item"  id="{{ticket.id}}" draggable ng-repeat="ticket in other.cards">
			<div class="mdl-grid">
				<div class="mdl-cell--4-col">
					<small>{{ticket.ref}}</small>
				</div>
				<div class="mdl-cell--4-col card-title-middle">
					<small>{{ticket.caisse}}</small>
				</div>
				<div class="mdl-cell--4-col">
					<small>{{ticket.appli}}</small>
				</div>	
				<div class=" mdl-cell--12-col divider"></div>
				<div class="mdl-cell--12-col">
				<p>{{ticket.summary}}</p>
				</div>	
			</div>										
		</div>			  

	</div>
</div>	


