 <md-fab-speed-dial ng-hide="demo.hidden" md-direction="up" 
                       class="md-scale fixed-action-btn" >
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn">
      <md-icon md-svg-src="/asset/svg/menu.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="Ajout ticket" class="md-fab md-hue-8 md-mini">
       <md-icon md-svg-src="/asset/svg/add_cross.svg" ng-click="ctrl.openNewTicket($event)"></md-icon>
    </md-button>
    <md-button aria-label="Chercher un ticket" class="md-fab md-hue-8 md-mini">
       <md-icon md-svg-src="/asset/svg/eye_preview.svg" ng-click="ctrl.openNewTicket($event)"></md-icon>
    </md-button>
    <md-button aria-label="Filtre sur moi" class="md-fab md-hue-8 md-mini">
       <md-icon md-svg-src="/asset/svg/ic_person_24px.svg" ng-click="ctrl.filtreOnUs()"></md-icon>
    </md-button>
    <md-button aria-label="Tout le monde" class="md-fab md-hue-8 md-mini">
       <md-icon md-svg-src="/asset/svg/ic_people_24px.svg" ng-click="ctrl.filtreOnAll()"></md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>


<div layout="row" layout-wrap class="grid-row-header" >
	<div   ng-repeat="item in ctrl.headers" class="mdl-cell--{{item.width}}-col ">
			<center><h4>{{item.libelle}}</h4></center>
		</div>
</div>


<div layout="row" class="grid-row z-depth-2" layout-wrap  ng-repeat="zone in ctrl.kanban.values | orderBy:'first.libelle'">
		
				
	<div class="mdl-cell--{{zone.first.width}}-col overdelete"
		id="{{zone.first.id}}" droppable drop="handleDropDelete" dropdelete="true">
		<p>{{zone.first.libelle}}</p>
	</div>
		
		
	<div ng-repeat="other in zone.other" class="mdl-cell--{{other.width}}-col" id="{{other.id}}"  droppable drop="handleDrop">


					  
		<div class="card-margin-border drag-auto-item"  id="{{ticket.id}}" draggable ng-repeat="ticket in other.cards">
			<div>
			<div layout="row">
				<div flex>
					<span class="md-caption truncate cursor-edit" ng-click="ctrl.updateTicket($event,ticket,other.id)">{{ticket.ref}}
						<md-tooltip md-direction="top">
          					{{ticket.ref}}
        				</md-tooltip>
					</span>
				</div>
				<div class="card-title-middle" flex>
					<span class="md-caption">{{ticket.caisse}}</span>
				</div>
				<div flex>
					<span class="md-caption">{{ticket.appli}}</span>
				</div>
				</div>
				<div class="divider"></div>
				<div layout="row">
					<div flex="90">
						<span class="md-caption">{{ticket.summary}}</span>
					</div>
					<div flex="10">
						<span class="ticket-{{ticket.state}}" layout-align="end"></span>
					</div>
					
				</div>
				
				
			</div>										
		</div>			  

	</div>
</div>	


