<md-dialog flex> 
<form name="kanbanMainForm">
<md-toolbar>
<div class="md-toolbar-tools">
	<h2>{{ticket.title}}</h2>
	<span flex></span>
	<md-button class="md-icon-button" ng-click="cancel()"> <md-icon
		md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
	</md-button>
</div>
</md-toolbar>
<md-dialog-content layout-padding> 
 	
				<md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="one">
        <md-content class="md-padding">
					<div layout layout-sm="column">
						<md-input-container flex> 
							<label>Référence</label>
							<input ng-model="ticket.ticket.ref"> 
						</md-input-container>
						<md-input-container flex> 
							<label>Caisse</label> 
							<input ng-model="ticket.ticket.caisse"> 
						</md-input-container>
						<md-input-container flex>
							<label>Application</label>
							<md-select ng-model="ticket.ticket.appli"> 
								<md-option ng-repeat="app in listes.applications" value="{{app}}">{{app}} </md-option> 
							</md-select> 
						</md-input-container>
					</div>

					<div layout layout-sm="column">
						<md-input-container flex> <label>Propriétaire</label>
						<md-select ng-model="ticket.ticket.owner"> <md-option
							ng-repeat="item in listes.users" value="{{item.login}}">
						{{item.login}} </md-option> </md-select> </md-input-container>
						<md-input-container flex> <label>Etat</label> <input
							ng-model="ticket.ticket.state"> </md-input-container>
						<md-input-container flex> <label>Zonen</label> <md-select
							ng-model="ticket.zone"> <md-option
							ng-repeat="header in headers" value="{{header.libelle}}">
						{{header.libelle}} </md-option> </md-select> </md-input-container>
					</div>
					<div layout layout-sm="row">
						<md-input-container flex> <label>Résumé</label> <input
							ng-model="ticket.ticket.summary"> </md-input-container>
					</div>
					<div layout layout-sm="row">
						<md-input-container flex> <label>Description</label>
						<textarea ng-model="ticket.ticket.description" /> </md-input-container>
					</div>
				
		
		
          <md-dialog-actions layout="row"> 
			<span flex></span>
			<md-button ng-click="cancel()"> Annuler </md-button> 
			<md-button ng-click="answer(ticket)" style="margin-right:20px;">Sauver</md-button> 
		</md-dialog-actions>
		</md-content>
		</md-tab>
		<md-tab label="Yoooooo">
			<md-content>
				Hello world
				
			</md-content>
		</md-tab>
		</md-tabs>
</md-dialog-content> 
	
<form>
</md-dialog>